.header{
    background-color: blue;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}
.navigation{
    margin-top: 20px;
}
.navigation li{
    display: inline;
    margin-left: 30px;
   
}
li a{
    text-decoration: none;
    color: rgb(56, 49, 49);
    margin-top: 10px;
   padding: 10px;
   font-weight: bold;
}
li a:hover{
     background-color:green;
     color: white;
}
@media screen and (max-width: 992px) {
    .navigation ul li {
        
        display: block;
        padding: 5px;
    }
  }
@media screen and (max-width: 600px) {
    .navigation ul li {
        display: block;
    }
  }